* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    background-color: rgb(44, 44, 44);
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas {
    background-color: aliceblue;
}